version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123

  api-nest:
    build: ./services/api-nest
    container_name: api-nest
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./services/api-nest/.env
    depends_on:
      - mongodb

volumes:
  mongo_data:
