### Python ###
# Venvs and Envs
venv/
.venv/
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Ruff cache
.ruff_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.tox/
.pytest_cache/
.coverage
coverage.xml

# IDEs / SO 
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db